﻿@model HashtagViewModoel
@{
    var tag = Model.Hashtags.Tag;
    ViewBag.Title = tag + " twitter hashtag last";
    ViewBag.Description = "Explore twitter tweets for tag " + tag;
    ViewBag.Robots = "index,follow";
    ViewBag.Canonical = Url.Action("Index", "Hashtag", new { hashtag = tag })+"/";
}

    <div class="container p-0">
        <div class="profile-timeline">
            <div class="row">
                <div class="col-3">
                    <div class="card mb-3">
                        <div class="card-heading is-bordered">
                            <h4>Recommended Hashtags</h4>
                        </div>
                        <div class="card-body p-0">
                            @foreach (var item in Model.TrendHashtags)
                            {
                                <div class="page-block transition-block">
                                    <div class="page-meta">
                                        <a href="@Url.Action("Index","Hashtag", new { hashtag = item.Name.ToLower() })/" title="@SeoHelper.HastagHrefText(item.Name)">@item.Name</a>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-9">
                    @foreach (var item in Model.Hashtags.Statuses)
                    {
                        <div class="profile-post">
                            <div class="card is-post">
                                <div class="content-wrap">
                                    <div class="card-heading">
                                        <div class="user-block">
                                            <div class="image">
                                                <img src="@Html.Raw(string.IsNullOrEmpty(item.User.ImageUrlHttps) ? "/_assets/img/default.png" : item.User.ImageUrlHttps.Replace("normal","400x400"))" 
                                                     alt="@SeoHelper.UserImageAlt(item.User.ScreenName, item.User.Name)"
                                                     title="@SeoHelper.UserImageAlt(item.User.ScreenName, item.User.Name)"
                                                />
                                            </div>
                                            <div class="user-info">
                                                <a href="@Url.Action("Index","Account", new { username = item.User.ScreenName })/"
                                                   title="@SeoHelper.UserHrefText(item.User.ScreenName, item.User.Name)">
                                                    @item.User.Name
                                                </a>
                                                <span class="time">@item.CreatedAt</span>
                                            </div>
                                        </div>
                                    </div>
                                    @if (item.Retweeted != null)
                                    {
                                        var retweet = item.Retweeted;

                                        <div class="card m-3">
                                            <div class="card-heading">
                                                <div class="user-block">
                                                    <div class="image">
                                                        <img src="@Html.Raw(string.IsNullOrEmpty(retweet.User.ImageUrlHttps) ? "/_assets/img/default.png" : retweet.User.ImageUrlHttps.Replace("normal","400x400"))" 
                                                             alt="@SeoHelper.UserImageAlt(retweet.User.ScreenName, retweet.User.Name)"
                                                             title="@SeoHelper.UserImageAlt(retweet.User.ScreenName, retweet.User.Name)"
                                                        />
                                                    </div>
                                                    <div class="user-info">
                                                        <a href="@Url.Action("Index","Account", new { username = retweet.User.ScreenName })/" 
                                                           title="@SeoHelper.UserHrefText(retweet.User.ScreenName, retweet.User.Name)">
                                                            @retweet.User.Name @Html.Raw(retweet.User.Verified ? "<i class='icon-checkmark-circle'></i>" : "")
                                                        </a>
                                                        <span class="time">@retweet.CreatedAt</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="post-text">

                                                    @{ var text = item.Text; }
                                                    @if (retweet.UserMentions.Count > 0)
                                                    {

                                                        foreach (var m in retweet.UserMentions)
                                                        {
                                                            var link = "<a href='" + Url.Action("Index", "Account", new { username = m.ScreenName }) + "/' title='"+SeoHelper.UserHrefText(m.ScreenName,m.Name)+"'>@" + m.ScreenName + "</a>";
                                                            text = text.Replace("@" + m.ScreenName, link);
                                                        }

                                                        if (retweet.Hashtags.Count > 0)
                                                        {
                                                            foreach (var h in retweet.Hashtags)
                                                            {
                                                                var hLink = "<a href='" + Url.Action("Index", "Hashtag", new { hashtag = h }) + "/' title='"+SeoHelper.HastagHrefText(h)+"'>#" + h + "</a>";
                                                                text = text.Replace("#" + h, hLink);
                                                            }
                                                        }

                                                        <p>@Html.Raw(text)</p>
                                                    }
                                                    else
                                                    {
                                                        if (retweet.Hashtags.Count > 0)
                                                        {
                                                            foreach (var h in retweet.Hashtags)
                                                            {
                                                                var hLink = "<a href='" + Url.Action("Index", "Hashtag", new { hashtag = h }) + "/' title='" + SeoHelper.HastagHrefText(h) + "'>#" + h + "</a>";
                                                                text = text.Replace(h, hLink);
                                                            }
                                                        }

                                                        <p>@Html.Raw(text)</p>
                                                    }

                                                    @if (retweet.Medias.Count > 0)
                                                    {
                                                        <div class="post-image">
                                                            <img src="" 
                                                                 lazy-src="@retweet.Medias[0].MediaUrl"
                                                                 class="w-100" 
                                                                 alt="@SeoHelper.MediaTitleAndAlt(retweet.User.ScreenName, retweet.User.Name, item.Text)"
                                                                 title="@SeoHelper.MediaTitleAndAlt(retweet.User.ScreenName, retweet.User.Name, item.Text)"
                                                            />
                                                        </div>
                                                    }

                                                    <div class="card-footer">
                                                        <div class="social-count">
                                                            <div class="likes-count">
                                                                <i class="icon-heart5"></i>
                                                                <span>@UIHelper.ToCommaSeparetadNumber(retweet.FavoriteCount)</span>
                                                            </div>
                                                            <div class="shares-count">
                                                                <i class="icon-reply"></i>
                                                                <span>@UIHelper.ToCommaSeparetadNumber(retweet.RetweetCount)</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="card-body">
                                            <div class="post-text">
                                                @{ var text = item.Text; }
                                                @if (item.UserMentions.Count > 0)
                                                {
                                                    foreach (var m in item.UserMentions)
                                                    {
                                                        var link = "<a href='" + Url.Action("Index", "Account", new { username = m.ScreenName }) + "/' title='" + SeoHelper.UserHrefText(m.ScreenName, m.Name) + "'>@" + m.ScreenName + "</a>";
                                                        text = text.Replace("@" + m.ScreenName, link);
                                                    }

                                                    if (item.Hashtags.Count > 0)
                                                    {
                                                        foreach (var h in item.Hashtags)
                                                        {
                                                            var hLink = "<a href='" + Url.Action("Index", "Hashtag", new { hashtag = h }) + "/' title='" + SeoHelper.HastagHrefText(h) + "'>#" + h + "</a>";
                                                            text = text.Replace("#" + h, hLink);
                                                        }
                                                    }

                                                    <p>@Html.Raw(text)</p>
                                                }
                                                else
                                                {
                                                    if (item.Hashtags.Count > 0)
                                                    {
                                                        foreach (var h in item.Hashtags)
                                                        {
                                                            var hLink = "<a href='" + Url.Action("Index", "Hashtag", new { hashtag = h }) + "/' title='" + SeoHelper.HastagHrefText(h) + "'>#" + h + "</a>";
                                                            text = text.Replace("#" + h, hLink);
                                                        }
                                                    }

                                                    <p>@Html.Raw(text)</p>
                                                }
                                            </div>
                                            @if (item.Medias.Count() > 0)
                                            {
                                                <div class="post-image">
                                                    <img src="" 
                                                        lazy-src="@item.Medias[0].MediaUrl"
                                                        class="w-100" 
                                                        alt="@SeoHelper.MediaTitleAndAlt(item.User.ScreenName, item.User.Name, item.Text)"
                                                        title="@SeoHelper.MediaTitleAndAlt(item.User.ScreenName, item.User.Name, item.Text)"
                                                    />
                                                </div>
                                            }
                                        </div>
                                        <div class="card-footer">
                                            <div class="social-count">
                                                <div class="likes-count">
                                                    <i class="icon-heart5"></i>
                                                    <span>@UIHelper.ToCommaSeparetadNumber(item.FavoriteCount)</span>
                                                </div>
                                                <div class="shares-count">
                                                    <i class="icon-reply"></i>
                                                    <span>@UIHelper.ToCommaSeparetadNumber(item.RetweetCount)</span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>

@section scripts{
    <script>
        $(document).ready(function () {
            var intersectionObserverExists = 'IntersectionObserver' in window;
            if (intersectionObserverExists) {
                var callback = function (entries, observer) {
                    entries.forEach(entry => {
                        if (entry.isIntersecting) {
                            var dataSrc = entry.target.getAttribute('lazy-src');
                            if (dataSrc == null || dataSrc == undefined) {
                                return;
                            }
                            if (dataSrc != '') {
                                entry.target.setAttribute('src', dataSrc);
                                entry.target.setAttribute('lazy-src', '');
                            }
                        }
                    });
                };
                var options = {
                    root: null,
                    rootMargin: '0px',
                    threshold: 0.01
                };

                var observer = new IntersectionObserver(callback, options);
                var images = document.querySelectorAll('.col-9 img');
                images.forEach(img => observer.observe(img));
            }
        });
    </script>
}