﻿@model FollowersViewModel
@{ var user = Model.UserInfo.User;
    var fullname = string.IsNullOrEmpty(user.Name) ? user.ScreenName : user.Name;
    ViewBag.Title = fullname + " Twitter Followers";
    ViewBag.Description = fullname + "'s Followers in " + user.ScreenName + " Twitter Account.";
    ViewBag.Robots = "index,follow";
    ViewBag.Canonical = Url.Action("Friends", "Account", new { username = user.ScreenName }) + "/"; 
}

<div class="container">
    <div class="columns is-multiline mt-5">
        <div class="column is-paddingless">
            <div class="cover-bg">
                <img class="cover-image" src=""
                     onerror="this.src='/_assets/img/default-banner.jpeg'"
                     lazy-src="@user.BannerUrl"
                     alt="@SeoHelper.UserImageAlt(user.ScreenName, user.Name)"
                     title="@SeoHelper.UserImageAlt(user.ScreenName, user.Name)" />
                <div class="avatar">
                    <img id="user-avatar" class="avatar-image"
                         src=""
                         onerror="this.src='/_assets/img/default.png'"
                         lazy-src="@Html.Raw(string.IsNullOrEmpty(user.ImageUrlHttps) ? "/_assets/img/default.png" : user.ImageUrlHttps.Replace("normal","400x400"))"
                         alt="@SeoHelper.UserImageAlt(user.ScreenName, user.Name)"
                         title="@SeoHelper.UserImageAlt(user.ScreenName, user.Name)" />
                </div>
            </div>

            <div class="profile-menu is-hidden-mobile">
                <div class="menu-start">
                    <a href="@Url.Action("Index","Account", new { username = user.ScreenName })/" class="button has-min-width">Timeline</a>
                    <a href="@Url.Action("Friends","Account", new { username = user.ScreenName })/" class="button has-min-width">Friends</a>
                    <a href="@Url.Action("Followers","Account", new { username = user.ScreenName })/" class="button has-min-width is-active">Followers</a>
                </div>
                <div class="menu-end">
                </div>
            </div>

            <div class="profile-subheader">
                <div class="subheader-middle">
                    <h2>@user.Name</h2>
                    <span>@@@user.ScreenName</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container p-0">
    <div class="friends-grid">
        <div class="row">
            <div class="col-3">
                <div class="card mb-3">
                    <div class="card-heading is-bordered">
                        <h4>User Info</h4>
                    </div>
                    <div class="card-body p-0">
                        <div class="p-3 side-block">
                            <p class="big-text">Friends Count</p>
                            <p>@UIHelper.ToCommaSeparetadNumber(user.FriendsCount)</p>
                        </div>
                        <div class="p-3 side-block">
                            <p class="big-text">Followers Count</p>
                            <p>@UIHelper.ToCommaSeparetadNumber(user.FollowersCount)</p>
                        </div>
                        <div class="p-3 side-block">
                            <p class="big-text">Created At</p>
                            <p>@user.CreatedAt</p>
                        </div>
                        @if (!string.IsNullOrEmpty(user.Location))
                        {
            <div class="p-3 side-block">
                <p class="big-text">Location</p>
                <p>@user.Location</p>
            </div>}
                        <div class="p-3 side-block">
                            <p class="big-text">About</p>
                            <p>@user.Description</p>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-heading is-bordered">
                        <h4>Recommended Accounts</h4>
                    </div>
                    <div class="card-body p-0">
                        @foreach (var item in Model.PopularUsers)
                        {
            <div class="page-block transition-block">
                <img src=""
                     lazy-src="@item.ImagePath"
                     onerror="this.src='/_assets/img/default.png'"
                     alt="@SeoHelper.UserImageAlt(item.Username, item.Fullname)"
                     title="@SeoHelper.UserImageAlt(item.Username, item.Fullname)" />
                <div class="page-meta">
                    <span>@@@item.Username</span>
                    <span>@item.Fullname</span>
                </div>
            </div>}
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="row">
                    @if (Model.UserFollowers.Users.Count > 5)
                    {
                        foreach (var item in Model.UserFollowers.Users)
                        {
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <a href="@Url.Action("Index","Account", new { username = item.ScreenName })/" class="friend-item text-center">
                                    <div class="avatar-wrap">
                                        <div class="circle"></div>
                                        <img src=""
                                             lazy-src="@item.ImageUrl"
                                             onerror="this.src='/_assets/img/default.png'"
                                             alt="@SeoHelper.UserImageAlt(item.ScreenName, item.Name)"
                                             title="@SeoHelper.UserImageAlt(item.ScreenName, item.Name)" />
                                    </div>
                                    <h3>@item.Name</h3>
                                    <p>@@@item.ScreenName</p>
                                </a>
                            </div>
                        }
                    }
                    else
                    {
                        foreach (var item in CacheHelper.Users)
                        {
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <a href="@Url.Action("Index","Account", new { username = item.Username })/" class="friend-item text-center">
                                    <div class="avatar-wrap">
                                        <div class="circle"></div>
                                        <img src=""
                                             lazy-src="@item.ImagePath"
                                             onerror="this.src='/_assets/img/default.png'"
                                             alt="@SeoHelper.UserImageAlt(item.Username, item.Fullname)"
                                             title="@SeoHelper.UserImageAlt(item.Username, item.Fullname)" />
                                    </div>
                                    <h3>@item.Fullname</h3>
                                    <p>@@@item.Username</p>
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script>
        var intersectionObserverExists = 'IntersectionObserver' in window;
        if (intersectionObserverExists) {
            var callback = function (entries, observer) {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        var dataSrc = entry.target.getAttribute('lazy-src');
                        if (dataSrc == null || dataSrc == undefined) {
                            return;
                        }
                        if (dataSrc != '') {
                            entry.target.setAttribute('src', dataSrc);
                            entry.target.setAttribute('lazy-src', '');
                        }
                    }
                });
            };
            var options = {
                root: null,
                rootMargin: '0px',
                threshold: 0.01
            };

            var observer = new IntersectionObserver(callback, options);
            var images = document.querySelectorAll('img');
            images.forEach(img => observer.observe(img));
        }
    </script>

}