﻿@model AccountViewModel
@{
    var user = Model.UserInfo.User;
    var fullname = string.IsNullOrEmpty(user.Name) ? user.ScreenName : user.Name;
    ViewBag.Title = fullname + " Twitter Profile";
    ViewBag.Description = fullname + "'s Tweets shared recently. Find All Twitter Tweets, Friedns and Followers of " + fullname + " in " + user.ScreenName + " Twitter Account.";
    ViewBag.Robots = Model.IsIndex ? "index,follow" : "noindex, follow";
    ViewBag.Canonical = Url.Action("Index", "Account", new { username = user.ScreenName })+"/";
}

<div class="container">
    <div class="columns is-multiline mt-5">
        <div class="column is-paddingless">
            <div class="cover-bg">
                <img class="cover-image" src=""
                     onerror="this.src='/_assets/img/default-banner.jpeg'"
                     lazy-src="@user.BannerUrl"
                     alt="@SeoHelper.UserImageAlt(user.ScreenName, user.Name)"
                     title="@SeoHelper.UserImageAlt(user.ScreenName, user.Name)" 

                />
                <div class="avatar">
                    <img id="user-avatar" class="avatar-image" 
                         src=""
                         onerror="this.src='/_assets/img/default.png'"
                         lazy-src="@Html.Raw(string.IsNullOrEmpty(user.ImageUrlHttps) ? "/_assets/img/default.png" : user.ImageUrlHttps.Replace("normal","400x400"))"
                         alt="@SeoHelper.UserImageAlt(user.ScreenName, user.Name)"
                         title="@SeoHelper.UserImageAlt(user.ScreenName, user.Name)" />
                </div>
                <div class="cover-overlay"></div>
            </div>

            <div class="profile-menu is-hidden-mobile">
                <div class="menu-start">
                    <a href="@Url.Action("Index","Account", new { username = user.ScreenName })/" class="button has-min-width is-active">Timeline</a>
                    <a href="@Url.Action("Friends","Account", new { username = user.ScreenName })/" class="button has-min-width">Friends</a>
                    <a href="@Url.Action("Followers","Account", new { username = user.ScreenName })/" class="button has-min-width">Followers</a>
                </div>
                <div class="menu-end">
                </div>
            </div>

            <div class="profile-subheader">
                <div class="subheader-middle">
                    <h2>@user.Name</h2>
                    <span>@@@user.ScreenName</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container p-0">
    <div class="profile-timeline">
        <div class="row">
            <div class="col-3">
                <div class="card mb-3">
                    <div class="card-heading is-bordered">
                        <h4>User Info</h4>
                    </div>
                    <div class="card-body p-0">
                        <div class="p-3 side-block">
                            <p class="big-text">Friends Count</p>
                            <p>@UIHelper.ToCommaSeparetadNumber(user.FriendsCount)</p>
                        </div>
                        <div class="p-3 side-block">
                            <p class="big-text">Followers Count</p>
                            <p>@UIHelper.ToCommaSeparetadNumber(user.FollowersCount)</p>
                        </div>
                        <div class="p-3 side-block">
                            <p class="big-text">Created At</p>
                            <p>@user.CreatedAt</p>
                        </div>
                        @if (!string.IsNullOrEmpty(user.Location))
                        {
                            <div class="p-3 side-block">
                                <p class="big-text">Location</p>
                                <p>@user.Location</p>
                            </div>
                        }
                        <div class="p-3 side-block">
                            <p class="big-text">About</p>
                            <p>@user.Description</p>
                        </div>
                    </div>
                </div>
                <div class="card mb-3">
                    <div class="card-heading is-bordered">
                        <h4>Recommended Accounts</h4>
                    </div>
                    <div class="card-body p-0">
                        @foreach (var item in Model.PopularUsers)
                        {
                            <a class="page-block" href="@Url.Action("Index","Account", new { username = item.Username })/"
                               title="@SeoHelper.UserHrefText(item.Username, item.Fullname)">
                                <img src=""
                                     onerror="this.src='/_assets/img/default.png'"
                                     lazy-src="@item.ImagePath"
                                     alt="@SeoHelper.UserImageAlt(item.Username,item.Fullname)"
                                     title="@SeoHelper.UserImageAlt(item.Username,item.Fullname)"
                                />
                                <div class="page-meta">
                                    <span>@@@item.Username</span>
                                    <span>@item.Fullname</span>
                                </div>
                            </a>
                        }
                    </div>
                </div>
            </div>
            <div class="col-9">

                <div class="card" id="livecounter">
                    <div class="card-header">Live Follower Counter</div>
                    <div class="card-body text-center">
                        <h2>@fullname</h2>
                        <span class="count">@UIHelper.ToCommaSeparetadNumber(user.FollowersCount)</span>
                    </div>
                </div>

                <div class="x-chart-area">
                    <div id="chart"></div>
                    <div id="chartx"></div>
                </div>

                @foreach (var item in Model.UserFeeds.Statuses)
                {
                    <div class="profile-post">
                        <div class="card is-post">
                            <div class="content-wrap">
                                <div class="card-heading">
                                    <div class="user-block">
                                        <div class="image">
                                            <img src=""
                                                 lazy-src="@item.User.ImageUrlHttps"
                                                 onerror="this.src='/_assets/img/default.png'"
                                                 alt="@SeoHelper.UserImageAlt(item.User.ScreenName, item.User.Name)"
                                                 title="@SeoHelper.UserImageAlt(item.User.ScreenName, item.User.Name)" 
                                            />
                                        </div>
                                        <div class="user-info">
                                            @user.Name @Html.Raw(user.Verified ? "<i class='icon-checkmark-circle'></i>" : "")
                                            <span class="time">@item.CreatedAt</span>
                                        </div>
                                    </div>
                                </div>
                                @if (item.Retweeted != null)
                                {
                                    var retweet = item.Retweeted;

                                    <div class="card m-3">
                                        <div class="card-heading">
                                            <div class="user-block">
                                                <div class="image">
                                                    <img src="" 
                                                         lazy-src="@retweet.User.ImageUrlHttps"
                                                         onerror="this.src='/_assets/img/default.png'"
                                                         alt="@SeoHelper.UserImageAlt(retweet.User.ScreenName, retweet.User.Name)"
                                                         title="@SeoHelper.UserImageAlt(retweet.User.ScreenName, retweet.User.Name)"
                                                    />
                                                </div>
                                                <div class="user-info">
                                                    <a href="@Url.Action("Index","Account", new { username = retweet.User.ScreenName })/" title="@SeoHelper.UserHrefText(retweet.User.ScreenName, retweet.User.Name)">
                                                        @retweet.User.Name @Html.Raw(retweet.User.Verified ? "<i class='icon-checkmark-circle'></i>" : "")
                                                    </a>
                                                    <span class="time">@retweet.CreatedAt</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="post-text">

                                                @{ var text = item.Text; }
                                                @if (retweet.UserMentions.Count > 0)
                                                {

                                                    foreach (var m in retweet.UserMentions)
                                                    {
                                                        var link = "<a href='" + Url.Action("Index", "Account", new { username = m.ScreenName }) + "/' title='" + SeoHelper.UserHrefText(m.ScreenName, m.Name) + "'>@" + m.ScreenName + "</a>";
                                                        text = text.Replace("@" + m.ScreenName, link);
                                                    }

                                                    if (retweet.Hashtags.Count > 0)
                                                    {
                                                        foreach (var h in retweet.Hashtags)
                                                        {
                                                            var hLink = "<a href='" + Url.Action("Index", "Hashtag", new { hashtag = h }) + "/' title='" + SeoHelper.HastagHrefText(h) + "'>#" + h + "</a>";
                                                            text = text.Replace("#" + h, hLink);
                                                        }
                                                    }

                                                    <p>@Html.Raw(text)</p>
                                                }
                                                else
                                                {
                                                    if (retweet.Hashtags.Count > 0)
                                                    {
                                                        foreach (var h in retweet.Hashtags)
                                                        {
                                                            var hLink = "<a href='" + Url.Action("Index", "Hashtag", new { hashtag = h }) + "/' title='" + SeoHelper.HastagHrefText(h) + "'>#" + h + "</a>";
                                                            text = text.Replace(h, hLink);
                                                        }
                                                    }

                                                    <p>@Html.Raw(text)</p>
                                                }

                                                @if (retweet.Medias.Count > 0)
                                                {
                                                    <div class="post-image">
                                                        <img src=""  
                                                             lazy-src="@retweet.Medias[0].MediaUrl" 
                                                             class="w-100" 
                                                             onerror="this.src='/_assets/img/default-media.jpeg'"
                                                             alt="@item.Text"
                                                             title="@item.Text"
                                                        />
                                                    </div>
                                                }
                                                <div class="card-footer">
                                                    <div class="social-count">
                                                        <div class="likes-count">
                                                            <i class="icon-heart5"></i>
                                                            <span>@UIHelper.ToCommaSeparetadNumber(retweet.FavoriteCount)</span>
                                                        </div>
                                                        <div class="shares-count">
                                                            <i class="icon-reply"></i>
                                                            <span>@UIHelper.ToCommaSeparetadNumber(retweet.RetweetCount)</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="card-body">
                                        <div class="post-text">
                                            @{ var text = item.Text; }
                                            @if (item.UserMentions.Count > 0)
                                            {

                                                foreach (var m in item.UserMentions)
                                                {
                                                    var link = "<a href='" + Url.Action("Index", "Account", new { username = m.ScreenName }) + "/' title='"+SeoHelper.UserHrefText(m.ScreenName, m.Name)+"'>@" + m.ScreenName + "</a>";
                                                    text = text.Replace("@" + m.ScreenName, link);
                                                }

                                                if (item.Hashtags.Count > 0)
                                                {
                                                    foreach (var h in item.Hashtags)
                                                    {
                                                        var hLink = "<a href='" + Url.Action("Index", "Hashtag", new { hashtag = h }) + "/' title='" + SeoHelper.HastagHrefText(h) + "'>#" + h + "</a>";
                                                        text = text.Replace("#" + h, hLink);
                                                    }
                                                }

                                                <p>@Html.Raw(text)</p>
                                            }
                                            else
                                            {
                                                if (item.Hashtags.Count > 0)
                                                {
                                                    foreach (var h in item.Hashtags)
                                                    {
                                                        var hLink = "<a href='" + Url.Action("Index", "Hashtag", new { hashtag = h }) + "/' title='" + SeoHelper.HastagHrefText(h) + "'>#" + h + "</a>";
                                                        text = text.Replace("#" + h, hLink);
                                                    }
                                                }

                                                <p>@Html.Raw(text)</p>
                                            }
                                        </div>
                                        @if (item.Medias.Count() > 0)
                                        {
                                            <div class="post-image">
                                                <img src=""
                                                        lazy-src="@item.Medias[0].MediaUrl"
                                                        class="w-100"
                                                        onerror="this.src='/_assets/img/default-media.jpeg'"
                                                        alt="@SeoHelper.MediaTitleAndAlt(item.User.ScreenName, item.User.Name, item.Text)"
                                                        title="@SeoHelper.MediaTitleAndAlt(item.User.ScreenName, item.User.Name, item.Text)" 
                                                />
                                            </div>
                                        }
                                    </div>
                                    <div class="card-footer">
                                        <div class="social-count">
                                            <div class="likes-count">
                                                <i class="icon-heart5"></i>
                                                <span>@UIHelper.ToCommaSeparetadNumber(item.FavoriteCount)</span>
                                            </div>
                                            <div class="shares-count">
                                                <i class="icon-reply"></i>
                                                <span>@UIHelper.ToCommaSeparetadNumber(item.RetweetCount)</span>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
</div>

@section scripts{

    <script src="https://cdn.jsdelivr.net/npm/frappe-charts@1.2.4/dist/frappe-charts.min.iife.js"></script>

    <script>
        var dates = @Html.Raw(Json.Encode(Model.Date));
        var followers = @Html.Raw(Json.Encode(Model.Followers));
        var friends = @Html.Raw(Json.Encode(Model.Friends));
        var interval = true;

        drawCharts();

        function drawCharts() {
            draw("#chart", dates, followers, 'green','Daily Followers Changes', 'line');
            draw("#chartx", dates, friends, 'red','Daily Friend Changes', 'line');
        }

        function formatNumber(num) { return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1.') }

        function draw(selector, labels, values, color, title, type) {
            return new frappe.Chart(selector, {
                data: {
                    labels: labels,
                    datasets: [
                        { values: values }
                    ]
                },
                type: type,
                height: 200,
                colors: [color],
                title: title
            });
        }

        $(document).ready(function () {
            function visibleCounter() {
                var docViewTop = $(window).scrollTop();
                var docViewBottom = docViewTop + $(window).height();

                var elemTop = $("#livecounter").offset().top;
                var elemBottom = elemTop + $("#livecounter").height();
                elemTop = elemTop + 100;
                return ((elemBottom <= docViewBottom) && (elemTop >= docViewTop));
            }

            function checkCounter() {
                $(window).scroll(function () {
                    interval = visibleCounter();
                }).scroll();

                $(window).blur(function () {
                    interval = visibleCounter();
                });

                $(window).focus(function () {
                    interval = visibleCounter();
                });
            }



            function workCounter() {
                setInterval(function () {
                    if (interval == true) {
                        $.get("https://bastet.socialblade.com/twitter/lookup?query=@user.ScreenName", function (e) {
                            $(".count").html(formatNumber(e));
                        });
                    }
                }, 3000);
            }
            checkCounter();
            workCounter();

            var intersectionObserverExists = 'IntersectionObserver' in window;
            if (intersectionObserverExists) {
                var callback = function (entries, observer) {
                    entries.forEach(entry => {
                        if (entry.isIntersecting) {
                            var dataSrc = entry.target.getAttribute('lazy-src');
                            if (dataSrc == null || dataSrc == undefined) {
                                return;
                            }
                            if (dataSrc != '') {
                                entry.target.setAttribute('src', dataSrc);
                                entry.target.setAttribute('lazy-src', '');
                            }
                        }
                    });
                };
                var options = {
                    root: null,
                    rootMargin: '0px',
                    threshold: 0.01
                };

                var observer = new IntersectionObserver(callback, options);
                var images = document.querySelectorAll('img');
                images.forEach(img => observer.observe(img));
            }
        });
    </script>
}