﻿@model PopularViewModel
@{
    ViewBag.Title = "List Twitter Platforms Most Popular Accounts";
    ViewBag.Description = "List Twitter Platforms Most Popular Accounts and daily statistics realtime followers counter";
    ViewBag.Robots = "index,follow";
    ViewBag.Canonical = Url.Action("Index", "Popular") + "/";
}

    <div class="container populars mt-3">
        <div class="x-search-card">
            <h1>List Twitter Platforms Most Popular Accounts</h1>
            <p>Twitter'ın popüler kullancılarını burada bulabilirsiniz burada bulunan tüm kullancıların +1milyondan fazla takipçisi bulunmaktadır. Mutlaka takip etmeniz gereken twitter kullanıcılarını burada listeyebilirsiniz.</p>
        </div>

        <div class="row mb-5">
            @{ var counter = 0;}
            @foreach (var item in Model.PopularUsers)
            {
                counter++;
                <div class="x-search-card">
                    <div class="img-container">
                        <a href="@Url.Action("Index","Account", new { username = item.Username })/">
                            <img class="avatar" lazy-src="@item.ImagePath" src="~/_assets/img/default.png"
                                 onerror="this.src='/_assets/img/default.png'"
                                 alt="@SeoHelper.UserHrefText(item.Username, item.Fullname)"
                                 title="@SeoHelper.UserHrefText(item.Username, item.Fullname)" />
                        </a>
                    </div>
                    <div class="x-search-info">
                        <h3 class="ellipsis">@item.Fullname</h3>
                        <p class="ellipsis"><a href="@Url.Action("Index","Account", new { username = item.Username })/">@@@item.Username</a></p>
                    </div>
                    <div class="x-search-stats">
                        <div class="stat-block">
                            <label>Friends</label>
                            <div class="stat-number">
                                @UIHelper.ToCommaSeparetadNumber(item.FriendCount)
                            </div>
                        </div>
                        <div class="stat-block">
                            <label>Tweets</label>
                            <div class="stat-number">
                                @UIHelper.ToCommaSeparetadNumber(item.TweetCount)
                            </div>
                        </div>
                        <div class="stat-block">
                            <label>Followers</label>
                            <div class="stat-number">
                                @UIHelper.ToCommaSeparetadNumber(item.FollowerCount)
                            </div>
                        </div>
                    </div>
                </div>
            }
            @if (Model.TotalPage > 1)
            {
                var next = Model.Page;
                var prev = 0;
                var last = Model.TotalPage;
                <div class="d-flex justify-content-center w-100">
                    <nav>
                        <ul class="pagination">
                            @if (Model.Page == 1 && Model.TotalPage > 1)
                            {
                                next = Model.Page + 1;
                                <li class="page-item"><a class="page-link" href="@Url.Action("Index","Popular", new { page = next })" title="Twitter most popular account page @next">Next</a></li>
                            }
                            else if (Model.Page == Model.TotalPage)
                            {
                                last = Model.Page - 1;
                                <li class="page-item"><a class="page-link" href="@Url.Action("Index","Popular", new { page = last })" title="Twitter most popular account page @prev">Prev</a></li>
                            }
                            else
                            {
                                next = Model.Page + 1;
                                prev = Model.Page - 1;
                                <li class="page-item"><a class="page-link" href="@Url.Action("Index","Popular", new { page = prev })" title="Twitter most popular account page @prev">Prev</a></li>
                                <li class="page-item"><a class="page-link" href="@Url.Action("Index","Popular", new { page = next })" title="Twitter most popular account page @next">Next</a></li>
                            }
                        </ul>
                    </nav>
                </div>
            }
        </div>
    </div>

@section scripts{
    <script>
        var intersectionObserverExists = 'IntersectionObserver' in window;
        if (intersectionObserverExists) {
            var callback = function (entries, observer) {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        var dataSrc = entry.target.getAttribute('lazy-src');
                        if (dataSrc == null || dataSrc == undefined) {
                            return;
                        }
                        if (dataSrc != '') {
                            entry.target.setAttribute('src', dataSrc);
                            entry.target.setAttribute('lazy-src', '');
                        }
                    }
                });
            };
            var options = {
                root: null,
                rootMargin: '0px',
                threshold: 0.01
            };

            var observer = new IntersectionObserver(callback, options);
            var images = document.querySelectorAll('.x-search-card img');
            images.forEach(img => observer.observe(img));
        }
    </script>
}