﻿@model SearchViewModel
@{ ViewBag.Title = string.IsNullOrEmpty(Model.Param)
                    ? Html.Raw("Search and Discover Twitter Accounts | " + CacheHelper.Setting.Sitename)
                    : Html.Raw("Search Twitter Account Filter By " + Model.Param);
                ViewBag.Description = string.IsNullOrEmpty(Model.Param)
                    ? Html.Raw("Write some name to find all twitter accounts. | " + CacheHelper.Setting.Sitename)
                    : Html.Raw("Search Twitter Account Name To " + Model.Param + " Find All Twitter Accounts.");
                ViewBag.Robots = "noindex, follow";
                ViewBag.Canonical = string.IsNullOrEmpty(Model.Param)
                    ? Url.Action("Index", "Search")
                    : Url.Action("Index", "Search", new { param = Model.Param }); }

<div class="container my-3">

    <div class="x-search-card">
        <h1>Twitter kullanıcılarını bul veya keşfet</h1>
        <p>Twitter kullanıcılarını kolayca arayabilirsiniz. Aynı zamanda yeni kullanıcılar keşfedebilir ve günlük istatistikleri gibi bir çok özelliklerden ücretsiz olarak yararlanabilirsiniz.</p>
    </div>

    <div class="x-form-inline" id="search-form">
        <div class="col-10 pl-0 my-1">
            <div class="form-check">
                <input type="text" name="HomeSearch" class="form-control w-100" value="@Html.Raw(string.IsNullOrEmpty(Model.Param) ? "" : Model.Param)">
            </div>
        </div>
        <div class="col-2 my-1 text-center">
            <button name="SearchBtn" class="btn btn-primary w-100">Search</button>
        </div>
    </div>
</div>

@if (!string.IsNullOrEmpty(Model.Param))
{
<div class="container my-3">
    <div class="card">
        <div class="card-header"><h2 class="list-title mb-0">@Model.Param - search results</h2></div>
        <div class="card-body">
            <div class="row">
                @if (Model.Users.Users.Count() > 0)
                {
                    foreach (var item in Model.Users.Users)
                    {
                        var fullname = string.IsNullOrEmpty(item.Name) ? item.ScreenName : item.Name;
<div class="x-search-card">
    <div class="img-container">
        <a href="@Url.Action("Index","Account", new { username = item.ScreenName })/">
            <img class="avatar" src=""
                 lazy-src="@Html.Raw(string.IsNullOrEmpty(item.ImageUrl) ? "/_vendor/img/default-avatar.jpg" : item.ImageUrl)"
                 alt="@SeoHelper.UserHrefText(item.ScreenName, item.Name)"
                 title="@SeoHelper.UserHrefText(item.ScreenName, item.Name)" />
        </a>
    </div>
    <div class="x-search-info">
        <h3 class="ellipsis">@fullname</h3>
        <p class="ellipsis"><a href="@Url.Action("Index","Account", new { username = item.ScreenName })/">@@@item.ScreenName</a></p>
    </div>
    <div class="x-search-stats">
        <div class="stat-block">
            <label>Friends</label>
            <div class="stat-number">
                @UIHelper.ToCommaSeparetadNumber(item.FriendsCount)
            </div>
        </div>
        <div class="stat-block">
            <label>Tweets</label>
            <div class="stat-number">
                @UIHelper.ToCommaSeparetadNumber(item.StatusesCount)
            </div>
        </div>
        <div class="stat-block">
            <label>Followers</label>
            <div class="stat-number">
                @UIHelper.ToCommaSeparetadNumber(item.FollowersCount)
            </div>
        </div>
    </div>
</div> }
                }
                else
                {
                    foreach (var item in Model.Populars)
                    {
                        var fullname = string.IsNullOrEmpty(item.Fullname) ? item.Username : item.Fullname;
<div class="col-lg-4 col-md-6 col-sm-12">
    <div class="media mb-3">
        <a href="@Url.Action("Index", "Account", new { username = item.Username })/" title="@SeoHelper.UserHrefText(item.Username, item.Fullname)">
            <img src="" width="60" height="60"
                 lazy-src="@Html.Raw(string.IsNullOrEmpty(item.ImagePath) ? "/_assets/img/default.png" : item.ImagePath)"
                 class="align-self-start mr-3 rounded-circle"
                 alt="@SeoHelper.UserHrefText(item.Username, item.Fullname)"
                 title="@SeoHelper.UserHrefText(item.Username, item.Fullname)" />
        </a>
        <div class="media-body">
            <h5 class="mt-0 h6">@@@item.Username</h5>
            <p>@fullname</p>
        </div>
    </div>
</div>}
                }
            </div>
        </div>
    </div>
</div>}

@section scripts{
    <script>
        $('body').on("keypress", "input[name='HomeSearch']", SearchWithEnter);
        $("body").on("click", "button[name='SearchBtn']", SearchUser);


        function clearForSearch(value) {
            value = value.toLowerCase();
            value = value.replace(/ /g, '-');
            value = value.replace('#', '');
            value = value.replace('<', '');
            value = value.replace('>', '');
            value = value.replace('%', '');
            value = value.replace('&', '');
            value = value.replace('.', '');
            value = value.replace('*', '');
            value = value.replace('/', '');
            value = value.replace('~', '');
            value = value.replace(';', '');
            value = value.replace('@@', '');
            return value;
        }

        function SearchWithEnter(event) {
            var keycode = (event.originalEvent.keyCode ? event.originalEvent.keyCode : event.originalEvent.which);
            if (keycode === 13) {
                var text = $("input[name='HomeSearch']").val();
                text = clearForSearch(text);
                if (text.length > 2) {
                    window.location.href = "/search/" + text + "/";
                }
                else {
                    alert("text too short min 3");
                }
            }
        }

        function SearchUser() {
            var text = $("input[name='HomeSearch']").val();
            text = clearForSearch(text);
            if (text.length > 2) {
                window.location.href = "/search/" + text + "/";
            }
            else {
                alert("text too short min 3");
            }
        }

        $(document).ready(function () {
            var intersectionObserverExists = 'IntersectionObserver' in window;
            if (intersectionObserverExists) {
                var callback = function (entries, observer) {
                    entries.forEach(entry => {
                        if (entry.isIntersecting) {
                            var dataSrc = entry.target.getAttribute('lazy-src');
                            if (dataSrc == null || dataSrc == undefined) {
                                return;
                            }
                            if (dataSrc != '') {
                                entry.target.setAttribute('src', dataSrc);
                                entry.target.setAttribute('lazy-src', '');
                            }
                        }
                    });
                };
                var options = {
                    root: null,
                    rootMargin: '0px',
                    threshold: 0.01
                };

                var observer = new IntersectionObserver(callback, options);
                var images = document.querySelectorAll('img');
                images.forEach(img => observer.observe(img));
            }
        });
    </script>
}