﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    @if (ViewBag.Description != null)
    {
        <meta name="description" content="@Html.Raw(ViewBag.Description)" />
    }
    @if (ViewBag.Robots != null)
    {
        <meta name="robots" content="@ViewBag.Robots" />
    }
    @if (ViewBag.Canonical != null)
    {
        <link rel="canonical" href="@Html.Raw(ViewBag.Canonical)/" />
    }
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="~/_assets/css/style.css" rel="stylesheet">
    <link href="~/_assets/css/icomoon.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,500,700&display=swap&subset=latin-ext" rel="stylesheet">
</head>
<body>

    <div class="x-hd">
        <div class="container">
            <span class="icon-menu"></span>
            <header>
                <a title="@CacheHelper.Setting.Sitename online twitter viewer" href="/">
                    <img src="~/_assets/img/logo.png" style="border-radius:50%;" width="50" height="50" 
                         alt="@CacheHelper.Setting.Sitename online twitter viewer" 
                         title="@CacheHelper.Setting.Sitename online twitter viewer"
                    />
                    <strong style="height: 40px; line-height: 50px;">@CacheHelper.Setting.Sitename</strong>
                </a>
            </header>
            <nav>
                <ul>
                    <li>
                        <a title="Search and discover twitter accounts" href="@Url.Action("Index","Search")/">Search</a>
                    </li>
                    <li>
                        <a title="Discover popular twitter accounts list" href="@Url.Action("All","List")/">Lists</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    @RenderBody()

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <script>
        document.querySelector(".icon-menu").onclick = function () {
            var hdNav = document.querySelector(".x-hd nav");
            if (hdNav.style.display == "" || hdNav.style.display == "none")
                hdNav.style.display = "block";
            else {
                hdNav.style.display = "none";
            }
        }
    </script>

    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)

</body>
</html>