﻿@model ListViewModel
@{
    ViewBag.Title = "Discover Twitter Accounts List";
    ViewBag.Description = "Twitter'in kullanıcılarının kategorize edilmiş halini bulabilirsiniz.";
    ViewBag.Robots = "index, follow";
    ViewBag.Canonical = Url.Action("All", "List");
}

<div class="container my-3">
    <div class="x-search-card">
        <h1 class="list-title mb-0">Discover Twitter Accounts List</h1>
        <p>Discover twitter's best accounts lists</p>
    </div>
    <div class="row">
        @foreach (var item in Model.Lists)
        {
            <div class="x-search-card">
                <div class="img-container">
                    <a href="@Url.Action("Index","List", new { slug = item.Slug })/" title="@SeoHelper.ListTitle(item.Name)">
                        <i class="@item.Icon"></i>
                    </a>
                </div>
                <div class="x-search-info">
                    <h3 class="ellipsis">@item.Name</h3>
                </div>
            </div>
        }

    </div>
</div>
