﻿@model ListViewModel
@{
    ViewBag.Title = "List of " + Model.List.Name + " Twitter Popular Accounts";
    ViewBag.Description = "List of " + Model.List.Name + " Twitter Most Popular and Most Followed Accounts";
    ViewBag.Robots = "index, follow";
    ViewBag.Canonical = Html.Raw("https://twiarea.com/" + Url.Action("Index", "List", new { slug = Model.List.Name }) + "/");
}
<div class="container mt-3">
    <div class="x-search-card">
        <h1 class="h4">List of @Model.List.Name Twitter Accounts</h1>
        <p>Discover twitter's best of @Model.List.Name accounts +[15] to get your daily dose of @Model.List.Name. Here we listed best of popular and most follow @Model.List.Name twitter accounts.</p>
    </div>


    <div class="row mb-5 list">
        @foreach (var item in Model.PopularUser)
        {
            <div class="x-search-card">
                <div class="img-container">
                    <a href="@Url.Action("Index","Account", new { username = item.Username })/">
                        <img class="avatar" lazy-src="@item.ImagePath" src="~/_assets/img/default.png"
                             onerror="this.src='/_assets/img/default.png'"
                             alt="@SeoHelper.UserHrefText(item.Username, item.Fullname)"
                             title="@SeoHelper.UserHrefText(item.Username, item.Fullname)" />
                    </a>
                </div>
                <div class="x-search-info">
                    <h3 class="ellipsis">@item.Fullname</h3>
                    <p class="ellipsis"><a href="@Url.Action("Index","Account", new { username = item.Username })/">@@@item.Username</a></p>
                </div>
                <div class="x-search-stats">
                    <div class="stat-block">
                        <label>Friends</label>
                        <div class="stat-number">
                            @UIHelper.ToCommaSeparetadNumber(item.FriendCount)
                        </div>
                    </div>
                    <div class="stat-block">
                        <label>Tweets</label>
                        <div class="stat-number">
                            @UIHelper.ToCommaSeparetadNumber(item.TweetCount)
                        </div>
                    </div>
                    <div class="stat-block">
                        <label>Followers</label>
                        <div class="stat-number">
                            @UIHelper.ToCommaSeparetadNumber(item.FollowerCount)
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="container my-3">
        <div class="x-search-card">
            <h1 class="list-title mb-0">Discover Other Twitter Lists</h1>
            <p>Discover other twitter best accounts on lists</p>
        </div>
        <div class="row">
            @foreach (var item in Model.Lists)
            {
                <div class="x-search-card">
                    <div class="img-container">
                        <a href="@Url.Action("Index","List", new { slug = item.Slug })/" title="@SeoHelper.ListTitle(item.Name)">
                            <i class="@item.Icon"></i>
                        </a>
                    </div>
                    <div class="x-search-info">
                        <h3 class="ellipsis">@item.Name</h3>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


@section scripts{
    <script>
        var intersectionObserverExists = 'IntersectionObserver' in window;
        if (intersectionObserverExists) {
            var callback = function (entries, observer) {
                entries.forEach(entry => {
                    if (entry.isIntersecting) {
                        var dataSrc = entry.target.getAttribute('lazy-src');
                        if (dataSrc == null || dataSrc == undefined) {
                            return;
                        }
                        if (dataSrc != '') {
                            entry.target.setAttribute('src', dataSrc);
                            entry.target.setAttribute('lazy-src', '');
                        }
                    }
                });
            };
            var options = {
                root: null,
                rootMargin: '0px',
                threshold: 0.01
            };

            var observer = new IntersectionObserver(callback, options);
            var images = document.querySelectorAll('.x-search-card img');
            images.forEach(img => observer.observe(img));
        }
    </script>
}